brotli==1.0.9
ConfigParser==5.3.0
cryptography==38.0.3
Cython==0.29.32
dl==0.1.0
docutils==0.19
HTMLParser==0.0.2
importlib_metadata==5.0.0
keyring==23.11.0
librosa==0.9.2
lockfile==0.12.2
lxml==4.9.1
numpy==1.23.4
ordereddict==1.1
pandas==1.5.1
pyOpenSSL==22.1.0
tensorflow==2.10.0
toml==0.10.2
tornado==6.2
zipp==3.10.0
matplotlib==3.6.2
tqdm==4.64.1